<h1>How to use:</h1>
<p>EC Analysis - Calculates peak heights from selected EC data</P>
<P>Microplate Analysis - Generates graphs from microplate data</p>
<p></p>
<p></P>
<h3>Detailed instructions - EC Analysis</h3>
<p>1. Export EC-Labs files as .mpt</p>
<p style = "text-indent: 30pt">	1. Go to experiment -> Export as Text</p>
<img src="https://www.pythonanywhere.com/user/FREDsense/files/home/FREDsense/automated_analysis/static/Experiment_menu.png" alt="Experiment Menu">
<img src="https://www.pythonanywhere.com/user/FREDsense/files/home/FREDsense/automated_analysis/static/Export_menu.png" alt="Export Menu">
<p style = "text-indent: 30pt">	2. Select files</p>
<p style = "text-indent: 30pt">	3. Make sure template is "EC-Lab Text Format (*.mpt)*</p>
<p style = "text-indent: 60pt">	- This should be the default format</p>
<p style = "text-indent: 30pt">	4. Hit export</p>
<p style = "text-indent: 30pt">	5. All files will be exported as .mpt files</p>
<p>2. Go to fredsense.pythonanywhere.com and select "EC Analysis"</p>
<p>3. Push "Choose Files" button</p>
<p>4. Select the .mpt files you wish to analyse (generated in step 1)</p>
<p style = "text-indent: 30pt">	- Note: There is a 20mb upload limit on the server (~20 files)</p>
<p>5. Push "Compute" button</p>
<p style = "text-indent: 30pt">	- May take a few seconds to upload files</p>
<p>6. Data will appear underneath buttons</p>
<p style = "text-indent: 30pt">	- Sample Name = File name</p>
<p style = "text-indent: 30pt">	- Peak Height = Peak height calculated from cycle 3 of that sample</p>
<p></p>
<p></P>
<h3>Detailed instructions - Microplate Analysis</h3>
<p>1. Generate blank and test files (raw .txt from spec) and Layout files (excel files describing location of samples)</p>
<p>2. Push "Blank File" button, select blank data file</p>
<p>3. Push "Data File" button, select data file</p>
<p>4. Push "Layout File" button, select layout file</p>
<p>5. Push "Compute" button</p>
<p style = "text-indent: 30pt">	- May take a few seconds to upload files</p>
<p>6. Data will appear underneath buttons</p>
