<h1>How to use:</h1>
<p>EC Analysis - Calculates peak heights from selected EC data</P>
<P>Microplate Analysis - Generates graphs from microplate data</p>
<p></p>
<p></P>
<h3>Detailed instructions - EC Analysis</h3>
<p>1. Go to fredsense.pythonanywhere.com and select "EC Analysis"</p>
<p>2. Push "Choose Files" button</p>
<p>3. Select the .mpr files you wish to analyse (generated in by EC-Labs)</p>
<p style = "text-indent: 30pt">	- Note: There is a 20mb upload limit on the server (~60 files)</p>
<p>5. Push "Compute" button</p>
<p style = "text-indent: 30pt">	- May take a few seconds to upload files</p>
<p>6. Data will appear underneath buttons</p>
<p style = "text-indent: 30pt">	- Sample Name = File name</p>
<p style = "text-indent: 30pt">	- Peak Height = Peak height calculated from cycle 3 of that sample</p>
<p>7. Buttons coorsponding to each file will show CV with baseline and peak for that file</p>
<p></p>
<p></P>
<h3>Detailed instructions - Microplate Analysis</h3>
<p>1. Generate blank and test files (raw .txt from spec) and Layout files (excel files describing location of samples)</p>
<p>2. Push "Blank File" button, select blank data file</p>
<p>3. Push "Data File" button, select data file</p>
<p>4. Push "Layout File" button, select layout file</p>
<p>5. Push "Compute" button</p>
<p style = "text-indent: 30pt">	- May take a few seconds to upload files</p>
<p>6. Data will appear underneath buttons</p>
